.DS_Store
/.vscode
/deploy/generator
/docs/assets
/schemas/hao/build
/schemas/hao/installation.yaml
/schemas/hao/user.yaml
/schemas/hao/sync
/schemas/hao/smyh.smart.userdb
/schemas/hao/smyh.smart.userdb.bak
/schemas/hao/squirrel.yaml
