.DS_Store
.vscode
zh-hans-t-leopard-ugc.gram
/assets/gendict/target
/deploy/generator
/deploy/hao/hao_map.txtbak
/docs/assets
/schemas/hao/build
/schemas/hao/installation.yaml
/schemas/hao/user.yaml
/schemas/hao/sync
/schemas/hao/hao.smart
/schemas/hao/hao.smart.userdb
/schemas/hao/hao.smart.userdb.bak
/schemas/releases
