.DS_Store
.vscode
/deploy/generator
/docs/assets
/schemas/hao/build
/schemas/hao/dazhu.txt
/schemas/hao/installation.yaml
/schemas/hao/user.yaml
/schemas/hao/sync
/schemas/hao/hao.smart.userdb
/schemas/hao/hao.smart.userdb.bak
